@model SomarthokBangla.Models.Products
@using System.Net.Http
@using SomarthokBangla.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("productsList");
    Products existedItem = null;

    if (products != null)
    {
        existedItem = products.FirstOrDefault(c => c.Id == Model.Id);
    }

}
@{
    ViewData["Title"] = "Details";
}

<div class="row">

    <div class="col-md-8">

        <div class="col-sm-1">


        </div>

        <div class="col-sm-10">

            <form asp-action="Details" method="post" enctype="multipart/form-data">

                <h2 class="text-info" style="padding:20px">Product Details</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>

                <div class="col-sm-8">


                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="hidden" asp-for="Id" />
                            <input asp-for="Name" readonly="readonly" class="form-control" />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label asp-for="Price"></label>
                        </div>
                        <div class="col-sm-8">
                            <input asp-for="Price" readonly="readonly" class="form-control" />
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label asp-for="ProductTypeId"></label>
                        </div>
                        <div class="col-sm-8">
                            <input value="@Model.ProductTypes.ProductType" readonly="readonly" class="form-control" />
                        </div>
                        <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label asp-for="ManufacturerId"></label>
                        </div>
                        <div class="col-sm-8">
                            <input value="@Model.Manufacturer.ManufacturerName" readonly="readonly" class="form-control" />

                        </div>
                        <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-8">
                            @if (existedItem != null)
                            {
                                <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">Remove from Cart</button>
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary form-control" value="Add To Cart" />
                            }

                        </div>

                    </div>

                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-success">Back To Products</a>
                    </div>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 text-center">

                    <div class="row">
                        <img src="~/@Model.Image" height="300" style="border-radius:5px;border:1px solid #efefef" />
                    </div>

                    @if (Model.IsAvailable)
                    {
                        <div class="row">
                            <img src="~/Images/InStock.png" style="margin-top:10px" width="100" height="30" />
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <img src="~/Images/Out of Stock.png" style="margin-top:10px" width="100" height="30" />
                        </div>
                    }

                </div>

            </form>

        </div>

        <div class="col-md-1">

        </div>


    </div>

    <div class="col-md-1">

    </div>


    <div class="col-md-3">

        <div class="row well" style="margin:10px">
            <h4>Similar Product</h4>
        </div>

        <section style="max-height:400px;overflow:scroll;overflow-x:hidden;padding-left:20px">


            @foreach (var product in ViewBag.similarProduct)
            {
                <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">

                    <div class="row well-sm">
                        <h5>@product.Name</h5>
                        <p>@product.Price</p>
                    </div>
                </a>
            }

        </section>


    </div>



</div>

<div class="row">

    <div class="row">

        <!--*-*-*-*-*-*-*-*-*-*- BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->
        <div id="adv_gp_products_1_columns_carousel" class="carousel slide six_shows_one_move gp_products_carousel_wrapper" data-ride="carousel" data-interval="2000">

            <div class="gp_products_carousel_header">
                <span>Similar Category</span>
                <a href="#" class="pull-right">See more</a>
            </div>

            <!--========= Wrapper for slides =========-->
            <div class="carousel-inner" role="listbox">

                <!--========= 1st slide =========-->

                @{ int i = 0;}
                @foreach (var item in ViewBag.similarCategory)
                {
                    if (item.UplodaDate <= DateTime.Now.AddDays(10))
                    {
                        i++;
                        var active = i == 1 ? "active" : "";

                        <div class="item @active">
                            <div class="col-xs-12 col-sm-4 col-md-2 gp_products_item">
                                @*<div class="gp_products_inner">*@

                                <div class="card">
                                    <a asp-area="Customer" asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">

                                        <img class="card-img-top img-responsive" src="~/@item.Image" style="height:300px;margin-bottom:10px" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">@item.Name</h4>
                                            <p class="card-text">Price: @item.Price tk</p>
                                            @*<p><a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a></p>*@
                                        </div>

                                    </a>

                                </div>


                                @*</div>*@
                            </div>
                        </div>

                    }

                }


            </div>
            <!--======= Navigation Buttons =========-->
            <!--======= Left Button =========-->
            <a class="left carousel-control gp_products_carousel_control_left" href="#adv_gp_products_1_columns_carousel" role="button" data-slide="prev">
                <span class="fa fa-angle-left gp_products_carousel_control_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!--======= Right Button =========-->
            <a class="right carousel-control gp_products_carousel_control_right" href="#adv_gp_products_1_columns_carousel" role="button" data-slide="next">
                <span class="fa fa-angle-right gp_products_carousel_control_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!--*-*-*-*-*-*-*-*-*-*- END BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->


    </div>


</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

